.padding-headbar{
    margin-top: 0;
    margin-bottom: 0;
    background: rgb(146,215,164);
    padding-bottom:2px;
    background-image: -moz-linear-gradient(to bottom, var(--ion-color-primary-contrast) 0%, var(--ion-color-primary-contrast) 100%), -moz-linear-gradient(253deg, rgba(146,215,164,1) 0%, rgba(92,160,131,1) 53%, rgba(76,191,167,1) 100%);
    background-image: -webkit-linear-gradient(to bottom,var(--ion-color-primary-contrast) 0%, var(--ion-color-primary-contrast) 100%),  -webkit-linear-gradient(253deg, rgba(146,215,164,1) 0%, rgba(92,160,131,1) 53%, rgba(76,191,167,1) 100%);
    background-image: linear-gradient(to bottom, var(--ion-color-primary-contrast) 0%, var(--ion-color-primary-contrast) 100%), linear-gradient(253deg, rgba(146,215,164,1) 0%, rgba(92,160,131,1) 53%, rgba(76,191,167,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#92d7a4",endColorstr="#4cbfa7",GradientType=1);
    background-clip: content-box, padding-box;
}

.buttonHeader{
    --background: #1f1f1f !important;
    color: white;
    border: 2px solid;
    border-radius: 5px;
   /* margin-top: 10px;*/
}

ion-header .md{
    padding: 0;
    padding-top: 0.1%;
    padding-bottom: 0.1% ;
}

ion-header img{
    padding-left: 1vw;
    vertical-align: middle;
}

ion-toolbar{
    background: transparent;
}

ion-item{
    border:none;
    --border-style: var(--background);
}