.header-bar {
    margin-top: 0px !important;
    max-height: 60px;
}

.header-bar .item {
    max-height: 50px;
    object-fit: cover;
}

.header-bar ion-item img {
    max-height: 40px;
    object-fit: contain;
}

.header-bar ion-col ion-searchbar {
    margin-top: auto;
    margin-bottom: auto;
}