.header-bar {
    margin-top: 0px !important;
}

.header-bar ion-item {
    background-color: var(--ion-color-dark-tint);
    border: 5px;
}

.header-bar ion-col ion-searchbar {
    margin-top: auto;
    margin-bottom: auto;
}